.lets-connect-title {
	font-size: 1.1rem;
	margin-bottom: 1rem;
	color: var(--secondary-text-color);
	font-weight: 100;
}

.lets-connect-section-content-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	.lets-connect-section-content-content {
		line-height: var(--text-line-height);
		font-size: 1rem;
		color: var(--secondary-text-color);
	}
	.lets-connect-section-button {
		background-color: #ffffff99;
		color: #1f1f1f;
	}
}
