.worked-with-for-title {
	font-size: 1.1rem;
	margin-bottom: 1rem;
	color: var(--secondary-text-color);
	font-weight: 100;
}

.worked-with-for-svgs-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: 1rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
	.worked-with-svg {
		fill: var(--main-svg-color);
		width: 80px;
	}
}

@media only screen and (min-width: 810px) {
	.worked-with-section-wrapper {
		display: grid;
		grid-template-columns: 200px 1fr;
		gap: 2rem;
		align-items: flex-start;

		& .worked-with-for-title {
			margin-top: 0;
		}
	}
	.worked-with-for-svgs-wrapper {
		.worked-with-svg {
			width: 120px;
		}
	}
}
