/* reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: inherit;
}

html {
	/* color-scheme: dark light; */
	hanging-punctuation: first last;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100svh;
}

img,
picture,
svg,
video {
	display: block;
	font-style: italic;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p {
	max-width: 75ch;
	text-wrap: pretty;
}

button,
input:is([type="submit"], [type="button"], [type="checkbox"]) {
	color: inherit;
	cursor: pointer;
	letter-spacing: inherit;
}

input[type="number"] {
	appearance: normal;
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

table {
	font-variant-numeric: tabular-nums;
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 3rem;
	}
}

/* ------------------------------------------------------ */

:root {
	--main-white: #ffffff;
	--main-black: #000000;
}

/* * {
	border: 1px solid green;
} */

.page-container {
	width: 80dvw;
}

/* img {
	width: 300px;
	height: 300px;
} */

.landing-page-header-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	p {
		text-transform: uppercase;
		font-size: 1rem;
	}
}

nav {
	position: fixed;
	z-index: 999;
	bottom: 4vh;
	left: 63%;
	padding: 20px 25px;
	margin-left: -190px;
	box-sizing: border-box;
	/* border: 1px solid #090909; */
	border-radius: 52px;
	background-color: hsla(0, 0%, 98%, 0.8);
	backdrop-filter: blur(5px);
	ul {
		position: relative;

		list-style: none;
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;
		padding-left: 0;
		gap: 1rem;

		li {
			a {
				text-decoration: none;
				color: var(--main-black);
				font-size: 0.7rem;
			}
		}
	}
}

.main-content {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	#hero {
		min-height: 100svh;
		margin-bottom: 3rem;
		.page-container {
			h1 {
				font-size: 14dvw;
				text-align: center;
				margin-bottom: 5rem;
				margin-top: 5rem;
			}
			.hero-text-and-img {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				gap: 2rem;
				h2 {
					font-size: 10dvw;
				}
				#heroImg {
					width: 60dvw;
					height: auto;
					border-radius: 500%;
				}
			}
		}
	}

	#projects {
		min-height: 100svh;
		margin-bottom: 3rem;
		.page-container {
			.projects-heading {
				margin-bottom: 2rem;
				font-size: 3rem;
			}
			.grid-container {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
				gap: 1rem;
				justify-content: center;
				align-items: center;
				.card {
					cursor: pointer;
					display: flex;
					flex-direction: column;
					height: 100%;
					a {
						text-decoration: none;
						color: var(--main-white);
					}
					:hover img {
						border-radius: 50%;
						transition-duration: 0.4s;
					}
					.project-number {
						color: var(--main-white);
					}
					img {
						width: 100%;
						height: auto;
						transition-duration: 0.4s;
					}
					hr {
						border: 0.5px solid var(--main-white);
					}
					.project-tags {
						text-transform: uppercase;
						font-size: 0.8rem;
					}
					.project-title {
						text-transform: uppercase;
						font-size: 2rem;
						margin: 0;
					}
				}
			}
		}
	}

	#about {
		min-height: 100svh;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 1%;
		.page-container {
			color: var(--main-white);
			.about-heading {
				font-size: 3rem;
				margin-bottom: 3rem;
				.demure {
					background-image: linear-gradient(
						45deg,
						#ffb3ba,
						#c49c6e,
						#bfbf76,
						#77b084,
						#ff7e74,
						#3b82f6,
						#c084fc,
						#db2777
					);
					color: transparent;
					-webkit-background-clip: text;
					background-clip: text;
					animation: gradientAnimation 8s linear infinite;
					animation-direction: alternate;
					background-size: 300% 100%;
				}
				@keyframes gradientAnimation {
					0% {
						background-position: 0;
					}
					100% {
						background-position: 100%;
					}
				}
			}
			.about-card {
				display: flex;
				justify-content: space-between;
				align-items: start;
				flex-direction: column;
				gap: 3rem;
				.about-text {
					max-width: 500px;
					display: flex;
					flex-direction: column;
					gap: 1.5rem;
					p {
						font-size: 1.3rem;
						line-height: 1.8rem;
					}
				}
				.about-img {
					width: 60dvw;
					height: auto;
					border-radius: 50%;
				}
			}
		}
	}

	#testimonial {
		min-height: 100svh;
		margin-top: 3rem;

		.page-container {
			.testimonial-start {
				min-height: 40svh;
				h2 {
					font-size: 2rem;
					text-transform: uppercase;
				}
				#testimonialHeading {
					min-width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: right;
					gap: 4rem;
					#testimonial-left {
						font-size: 1.5rem;
						text-transform: uppercase;
						display: flex;
					}
					#testimonial-right {
						font-size: 1.5rem;
						/* width: 40%; */
						/* margin-right: 6rem; */
					}
				}
			}

			.slideshow-container {
				.slides {
					/* display: none; */
					display: flex;
					flex-direction: column;
					/* display: grid; */
					grid-template-columns: 1fr;
					grid-template-rows: 1fr 1fr;
					align-items: center;

					min-height: 90svh;
					justify-content: space-between;
					.slideshow-left {
						display: flex;
						flex-direction: column;
						.slide-header {
							margin-top: 2rem;
							min-height: 90%;
							h3 {
								font-size: 1.5rem;
							}
							.client-name {
								font-size: 1rem;
							}
							.client-company {
								font-size: 1rem;
							}
							.project-tag {
								span {
									font-size: 0.6rem;
									font-style: italic;
									text-transform: uppercase;
								}
							}
						}
						.slide-controller {
							margin-top: 2rem;
							display: flex;
							align-items: center;
							justify-content: space-between;
							.slide-number {
								font-size: 1rem;
							}
							.slide-button-container {
								.slide-buttons {
									color: var(--main-black);
									font-size: 1.5rem;
									border-radius: 2rem;
									padding: 0.5rem;
									width: 6rem;
									text-transform: uppercase;
								}
							}
						}
					}
					.slide-img {
						/* min-width: 50dvw; */
						width: 60%;
						border-radius: 500%;
						height: auto;
					}
				}
				.slides:first-child {
					display: grid;
				}
			}
		}
	}
	#contact {
		min-height: 100svh;
		margin-top: 3rem;
		background-color: var(--main-black);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		/* border-radius: 1%; */
		.page-container {
			color: var(--main-white);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.contact-heading {
				text-align: center;
				font-size: 2rem;
				margin-bottom: 6rem;
			}
			.cta-button {
				font-size: 1rem;
				color: var(--main-white);
				background-color: #1f61eb;
				border-radius: 80px;
				padding: 1rem;
				border-style: none;
				/* width: 30rem; */
				border-right: 20px solid #1f61eb;
				border-bottom-right-radius: 4px 3px;
			}
			.cta-button:hover span {
				display: none;
			}
			.cta-button:hover:before {
				content: "Yes!";
			}
			.cta-button:hover {
				background-color: var(--main-black);
				border-right: 20px solid var(--main-black);
			}
			.read {
				margin-top: 0.5rem;
				/* font-size: 1.5rem; */
				font-size: 1rem;
				/* width: 30rem; */
				width: 10rem;
				text-align: right;
				color: #9b9b9b;
			}
		}
	}
}

footer {
	min-height: 45svh;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	margin-bottom: 4rem;
	.page-container {
		#footerTop {
			display: flex;
			justify-content: space-between;
			#footerMenu {
				h3 {
					font-size: 2rem;
				}
				hr {
					width: 40dvw;
				}
				ul {
					padding-left: 0;
					li {
						list-style: none;
						line-height: 2rem;
						a {
							font-size: 1.5rem;
							text-decoration: none;
							color: var(--main-white);
						}
						a:hover {
							color: #0000ff;
						}
					}
				}
			}

			#socialLinks {
				h3 {
					font-size: 2rem;
				}
				hr {
					width: 40dvw;
				}
				ul {
					padding-left: 0;
					li {
						list-style: none;
						line-height: 2rem;
						a {
							font-size: 1.5rem;
							text-decoration: none;
							color: var(--main-white);
						}
						a:hover {
							color: #0000ff;
						}
					}
				}
			}
		}

		#footerBottom {
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
			align-items: center;
			gap: 1rem;
			#copyright {
				p {
					font-size: 1rem;
				}
			}
			#localTime {
				p {
					font-size: 1.5rem;
				}
				span {
					font-size: 1rem;
				}
			}

			#backToTop {
				a {
					text-decoration: none;
					color: var(--main-black);
					button {
						font-size: 1.5rem;
						border-radius: 20rem;
						padding: 0.5rem;
						width: 6rem;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 810px) {
	.landing-page-header-section {
		display: flex;
		flex-direction: row;
	}

	/* nav {
		position: fixed;
		z-index: 999;
		bottom: 4vh;
		left: 63%;
		padding: 20px 25px;
		margin-left: -190px;
		box-sizing: border-box;
		border-radius: 52px;
		background-color: hsla(0, 0%, 98%, 0.8);
		backdrop-filter: blur(5px);
		ul {
			position: relative;

			list-style: none;
			z-index: 1000;
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-transform: uppercase;
			padding-left: 0;
			gap: 1rem;

			li {
				a {
					text-decoration: none;
					color: var(--main-black);
					font-size: 0.7rem;
				}
			}
		}
	} */

	.main-content {
		/* display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; */
		#hero {
			min-height: 100svh;
			margin-bottom: 3rem;
			.page-container {
				h1 {
					font-size: 10dvw;
				}
				.hero-text-and-img {
					display: flex;
					flex-direction: row;
					gap: 2rem;
					h2 {
						font-size: 3dvw;
					}
					#heroImg {
						width: 20dvw;
					}
				}
			}
		}

		#about {
			.page-container {
				color: var(--main-white);
				.about-heading {
					font-size: 5rem;
					margin-bottom: 3rem;
				}
				.about-card {
					flex-direction: row;
					.about-img {
						width: 20dvw;
					}
				}
			}
		}

		#testimonial {
			min-height: 100svh;
			margin-top: 3rem;
			.page-container {
				.testimonial-start {
					min-height: 20svh;
					h2 {
						font-size: 3rem;
						text-transform: uppercase;
					}
					#testimonialHeading {
						min-width: 100%;
						display: flex;
						flex-direction: row;
						justify-content: right;
						gap: 4rem;
						#testimonial-left {
							font-size: 1.5rem;
							text-transform: uppercase;
						}
						#testimonial-right {
							font-size: 1.5rem;
							width: 40%;
							margin-right: 6rem;
						}
					}
				}

				.slideshow-container {
					.slides {
						display: none;
						/* display: grid; */
						grid-template-columns: 1fr 1fr;
						grid-template-rows: none;
						min-height: 90svh;

						.slideshow-left {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							min-height: 90%;
							.slide-header {
								line-height: 3.5rem;
								display: block;
								h3 {
									font-size: 2.5rem;
								}
								.client-name {
									font-size: 2rem;
								}
								.client-company {
									font-size: 1.5rem;
								}
								.project-tag {
									span {
										font-size: 1rem;
										font-style: italic;
										text-transform: uppercase;
									}
								}
							}
							.slide-controller {
								display: flex;
								align-items: center;
								justify-content: space-between;
								.slide-number {
									font-size: 1.5rem;
								}
								.slide-button-container {
									.slide-buttons {
										font-size: 1.5rem;
										border-radius: 2rem;
										padding: 0.5rem;
										width: 6rem;
										text-transform: uppercase;
									}
								}
							}
						}
						.slide-img {
							min-width: 30dvw;
							height: auto;
						}
					}
					.slides:first-child {
						display: grid;
					}
				}
			}
		}
		#contact {
			min-height: 100svh;
			margin-top: 3rem;
			background-color: var(--main-black);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			/* border-radius: 1%; */
			.page-container {
				color: var(--main-white);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.contact-heading {
					text-align: center;
					font-size: 2rem;
					margin-bottom: 6rem;
				}
				.cta-button {
					font-size: 1rem;
					color: var(--main-white);
					background-color: #1f61eb;
					border-radius: 80px;
					padding: 1rem;
					border-style: none;
					/* width: 30rem; */
					border-right: 20px solid #1f61eb;
					border-bottom-right-radius: 4px 3px;
				}
				.cta-button:hover span {
					display: none;
				}
				.cta-button:hover:before {
					content: "Yes!";
				}
				.cta-button:hover {
					background-color: var(--main-black);
					border-right: 20px solid var(--main-black);
				}
				.read {
					margin-top: 0.5rem;
					/* font-size: 1.5rem; */
					font-size: 1rem;
					/* width: 30rem; */
					width: 10rem;
					text-align: right;
					color: #9b9b9b;
				}
			}
		}
	}

	footer {
		min-height: 45svh;
		display: flex;
		justify-content: center;
		margin-top: 3rem;
		margin-bottom: 4rem;
		.page-container {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			#footerTop {
				display: flex;
				justify-content: space-between;
				#footerMenu {
					h3 {
						font-size: 2rem;
					}
					hr {
						width: 40dvw;
					}
					ul {
						padding-left: 0;
						li {
							list-style: none;
							line-height: 2rem;
							a {
								font-size: 1.5rem;
								text-decoration: none;
								color: var(--main-white);
							}
							a:hover {
								color: #0000ff;
							}
						}
					}
				}

				#socialLinks {
					h3 {
						font-size: 2rem;
					}
					hr {
						width: 40dvw;
					}
					ul {
						padding-left: 0;
						li {
							list-style: none;
							line-height: 2rem;
							a {
								font-size: 1.5rem;
								text-decoration: none;
								color: var(--main-white);
							}
							a:hover {
								color: #0000ff;
							}
						}
					}
				}
			}

			#footerBottom {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				gap: 1rem;
				#copyright {
					p {
						font-size: 1rem;
					}
				}
				#localTime {
					p {
						font-size: 1.5rem;
					}
					span {
						font-size: 1rem;
					}
				}

				#backToTop {
					a {
						text-decoration: none;
						color: var(--main-black);
						button {
							font-size: 1.5rem;
							border-radius: 20rem;
							padding: 0.5rem;
							width: 6rem;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}
