.education-section-title {
	font-size: 1.1rem;
	margin-bottom: 1rem;
	color: var(--secondary-text-color);
	font-weight: 100;
}

.education-section-svgs-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: 1rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
	.education-svg {
		fill: var(--main-svg-color);
		width: 80px;
	}
	.kth-svg {
		width: 70px;
	}
}

@media only screen and (min-width: 810px) {
	.education-section-wrapper {
		display: grid;
		grid-template-columns: 200px 1fr;
		gap: 2rem;
		align-items: flex-start;

		& .education-section-title {
			margin-top: 0;
		}
	}

	.education-section-svgs-wrapper {
		.education-svg {
			width: 120px;
		}
	}
}
