.education-section-title {
	font-size: 1.1rem;
	margin-bottom: 1rem;
	color: var(--secondary-text-color);
	font-weight: 100;
}

.education-section-svgs-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: 1rem;
	justify-content: center;
	align-items: center;
	.education-svg {
		fill: #ffffff;
		width: 120px;
	}
	.kth-svg {
		width: 70px;
	}
}
