* {
	margin: 0;
	padding: 0;
}

:root {
	--main-bg-color: rgb(33, 33, 33);
	/* --secondary-bg-color: ; */
	--main-text-color: #ffffff;
	--secondary-text-color: #dddddd;

	--text-line-height: 1.5rem;
}

#root {
	display: grid;
	grid-template-columns: auto 1fr;
	min-height: inherit;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	padding: 1rem;
}

.main-section-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

svg {
	fill: #ffffff;
	width: 200px;
}
