* {
	margin: 0;
	padding: 0;
}

:root {
	--main-bg-color: rgb(33, 33, 33);
	--main-svg-color: #ffffff;
	--secondary-button-text-color: #373737;
	--main-text-color: #ffffff;
	--secondary-text-color: #dddddd;

	--text-line-height: 1.5rem;
}

#root {
	/* display: grid;
	grid-template-columns: auto 1fr;
	min-height: inherit; */
	display: flex;
	justify-content: center;
	padding: 1rem;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	padding: 1rem;
}

.main-section-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

@media only screen and (min-width: 810px) {
	body {
		display: flex;
		align-items: center;
		justify-content: center;
		#root {
			width: 80dvw;
		}
	}
}
