.content-section-wrapper {
	margin-bottom: 1rem;

	& .section-title {
		font-size: 1.1rem;
		margin-bottom: 1rem;
		color: var(--secondary-text-color);
		font-weight: 100;
		text-transform: uppercase;
	}

	& .section-content-ul {
		list-style-type: disc;

		& li {
			margin-left: 1rem;
			margin-bottom: 0.8rem;
			padding-left: 0.3rem;
			display: flex;
			align-items: flex-start;

			&::before {
				content: "•";
				color: white;
				display: inline-block;
				margin-right: 0.5rem;
				font-size: 1.2rem;
			}

			& .section-content-link-a {
				color: rgb(184, 184, 184);
				text-decoration: none;

				text-decoration: underline;
				&:hover {
					color: var(--main-text-color);
					font-weight: 300;
				}
			}

			& .section-content-link-span {
				color: var(--main-text-color);
			}
		}
	}
}

@media only screen and (min-width: 810px) {
	.content-section-wrapper {
		display: grid;
		grid-template-columns: 200px 1fr;
		gap: 2rem;
		align-items: flex-start;

		& .section-title {
			margin-top: 0;
		}

		& .section-content-ul {
			margin-top: 0;
		}
	}
}
